html {
  background-color: #f1f1f1;
}

form {
  padding: 20px;
  margin-top: 60px;
}

form button,
form h5 {
  margin: 20px;
}

select {
  display: block;
}

.white {
  background-color: #fff;
  color: #000;
}

.btn {
  border-radius: 4px;
  background-color: #0146ad;
}
.btn:hover {
  background-color: #0146ad;
}
.btn:focus {
  background-color: #0146ad;
}
[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:after {
  background-color: #0146ad;
}
[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:before,
[type="radio"].with-gap:checked + span:after {
  border: 2px solid #0146ad;
}

.input-field .red-txt {
  color: red !important;
}
